.weather-app {
  margin: 0 20px;
  background-image: url('../../images/daytime_sky.jpg');
  background-repeat: no repeat;
  background-size: cover;
  background-position: center top;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1.5vmin);
  color: black;
}
