@font-face {
  font-family: 'weathericons';
  src: url('./font/weathericons-regular-webfont.eot');
  src: url('./font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./font/weathericons-regular-webfont.woff2') format('woff2'), url('./font/weathericons-regular-webfont.woff') format('woff'), url('./font/weathericons-regular-webfont.ttf') format('truetype'), url('./font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wi-fw {
  text-align: center;
  width: 1.4em;
}
.wi-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.wi-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
.wi-wind:before {
  content: "\f0b1";
}

.wi-towards-n {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.wi-towards-nne {
  -webkit-transform: rotate(23deg);
  -moz-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg);
}
.wi-towards-ne {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wi-towards-ene {
  -webkit-transform: rotate(68deg);
  -moz-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  -o-transform: rotate(68deg);
  transform: rotate(68deg);
}
.wi-towards-e {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-towards-ese {
  -webkit-transform: rotate(113deg);
  -moz-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  -o-transform: rotate(113deg);
  transform: rotate(113deg);
}
.wi-towards-se {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.wi-towards-sse {
  -webkit-transform: rotate(158deg);
  -moz-transform: rotate(158deg);
  -ms-transform: rotate(158deg);
  -o-transform: rotate(158deg);
  transform: rotate(158deg);
}
.wi-towards-s {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-towards-ssw {
  -webkit-transform: rotate(203deg);
  -moz-transform: rotate(203deg);
  -ms-transform: rotate(203deg);
  -o-transform: rotate(203deg);
  transform: rotate(203deg);
}
.wi-towards-sw {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.wi-towards-wsw {
  -webkit-transform: rotate(248deg);
  -moz-transform: rotate(248deg);
  -ms-transform: rotate(248deg);
  -o-transform: rotate(248deg);
  transform: rotate(248deg);
}
.wi-towards-w {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-towards-wnw {
  -webkit-transform: rotate(293deg);
  -moz-transform: rotate(293deg);
  -ms-transform: rotate(293deg);
  -o-transform: rotate(293deg);
  transform: rotate(293deg);
}
.wi-towards-nw {
  -webkit-transform: rotate(313deg);
  -moz-transform: rotate(313deg);
  -ms-transform: rotate(313deg);
  -o-transform: rotate(313deg);
  transform: rotate(313deg);
}
.wi-towards-nnw {
  -webkit-transform: rotate(336deg);
  -moz-transform: rotate(336deg);
  -ms-transform: rotate(336deg);
  -o-transform: rotate(336deg);
  transform: rotate(336deg);
}
.wi-from-n {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wi-from-nne {
  -webkit-transform: rotate(203deg);
  -moz-transform: rotate(203deg);
  -ms-transform: rotate(203deg);
  -o-transform: rotate(203deg);
  transform: rotate(203deg);
}
.wi-from-ne {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
.wi-from-ene {
  -webkit-transform: rotate(248deg);
  -moz-transform: rotate(248deg);
  -ms-transform: rotate(248deg);
  -o-transform: rotate(248deg);
  transform: rotate(248deg);
}
.wi-from-e {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.wi-from-ese {
  -webkit-transform: rotate(293deg);
  -moz-transform: rotate(293deg);
  -ms-transform: rotate(293deg);
  -o-transform: rotate(293deg);
  transform: rotate(293deg);
}
.wi-from-se {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}
.wi-from-sse {
  -webkit-transform: rotate(338deg);
  -moz-transform: rotate(338deg);
  -ms-transform: rotate(338deg);
  -o-transform: rotate(338deg);
  transform: rotate(338deg);
}
.wi-from-s {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.wi-from-ssw {
  -webkit-transform: rotate(23deg);
  -moz-transform: rotate(23deg);
  -ms-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg);
}
.wi-from-sw {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wi-from-wsw {
  -webkit-transform: rotate(68deg);
  -moz-transform: rotate(68deg);
  -ms-transform: rotate(68deg);
  -o-transform: rotate(68deg);
  transform: rotate(68deg);
}
.wi-from-w {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.wi-from-wnw {
  -webkit-transform: rotate(113deg);
  -moz-transform: rotate(113deg);
  -ms-transform: rotate(113deg);
  -o-transform: rotate(113deg);
  transform: rotate(113deg);
}
.wi-from-nw {
  -webkit-transform: rotate(133deg);
  -moz-transform: rotate(133deg);
  -ms-transform: rotate(133deg);
  -o-transform: rotate(133deg);
  transform: rotate(133deg);
}
.wi-from-nnw {
  -webkit-transform: rotate(156deg);
  -moz-transform: rotate(156deg);
  -ms-transform: rotate(156deg);
  -o-transform: rotate(156deg);
  transform: rotate(156deg);
}